# Dockerignore whitelist
*

!Pipfile
!Pipfile.lock
!cbreader
!comic
!comic_auth
!static
!manage.py
!pyproject.toml
!setup.cfg
!entrypoint.sh
!entrypoint-cron.sh
!requirements.txt
!package-lock.json
!package.json