# Dockerignore whitelist
*

!cbreader
!comic
!comic_auth
!static
!manage.py
!pyproject.toml
!setup.cfg
!entrypoint.sh
!entrypoint-cron.sh
!requirements.txt
!package-lock.json
!package.json
!frontend
/frontend/node_modules
/frontend/dist