[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-silk = "*"
v = {editable = true,version = "*"}
mysqlclient = "*"

[packages]
django = "*"
gunicorn = "*"
django-recaptcha2 = "*"
django-bootstrap4 = "*"
dj-database-url = "*"
pypdf4 = "*"

[requires]
python_version = "3.8"
