{% extends "base.html" %}
{% block title %}CBWebReader - Login{% endblock %}
{% block content %}

<div class="col-md-4 col-md-offset-4">
    {% if error %}
        <div class="alert alert-danger" role="alert"><p>Your username and password didn't match. Please try again.</p></div>
    {% endif %}
    <form method="post" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{form}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

{% endblock %}