{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Ajurna">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}CB Reader{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/r-2.2.4/datatables.min.css"/>
    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/all.css" %}" rel="stylesheet">

{#    <link href="{% static "reveal.js/css/reveal.css" %}" rel="stylesheet">#}
{#    <link href="{% static "reveal.js/css/theme/white.css" %}" rel="stylesheet">#}


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Comic Book Web Reader</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {% for page, link in menu.menu_items.items %}
            <a class="nav-item nav-link {% if menu.current_page == page %}active{% endif %}" href="{{ link }}">{{ page }}</a>
        {% endfor %}
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          {% if breadcrumbs %}
                  {% include "comic/breadcrumbs.html" %}
              {% else %}
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
          {% endif %}
      </ol>
    </nav>

    {% block content %}{% endblock %}


    <!-- /.container -->
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">CBReader</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Ajurna</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/ajurna/cbreader" rel="dct:source">https://github.com/ajurna/cbreader</a>.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/r-2.2.4/datatables.min.js"></script>
    <script type="text/javascript" src="{% static "js/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "reveal.js/js/reveal.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hammer.min.js" %}"></script>

 {% block script %}
 {% endblock %}
  </body>
</html>





