{% load bootstrap4 %}
{% load static %}
{% load sri %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Ajurna">
    <link rel="icon" href="{% static "img/logo.svg" %}">

    <title>{% block title %}CB Web Reader{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% sri_static "bootstrap/dist/css/bootstrap.min.css" %}
    {% sri_static "datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}
    <!-- Custom styles for this template -->
  {% sri_static "css/base.min.css" %}
  {% sri_static "@fortawesome/fontawesome-free/css/all.min.css" %}

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="menu">
        <a  class="navbar-brand" href="/"><img src="{% static 'img/logo.svg' %}" class="d-inline-block align-top" height="35px" alt="CB"> Web Reader</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {% for page, link in menu.menu_items.items %}
            <a class="nav-item nav-link {% if menu.current_page == page %}active{% endif %}" href="{{ link }}">{{ page }}</a>
        {% endfor %}
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          {% if breadcrumbs %}
                  {% include "comic/breadcrumbs.html" %}
              {% else %}
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
          {% endif %}
      </ol>
    </nav>

    {% block content %}{% endblock %}


    <!-- /.container -->
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence"  src="{% static "img/ccbysa.png" %}" /></a><br /><span xmlns:dct="https://purl.org/dc/terms/" href="https://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">CBReader</span> by <span xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName">Ajurna</span> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="https://purl.org/dc/terms/" href="https://github.com/ajurna/cbreader" rel="dct:source">https://github.com/ajurna/cbreader</a>.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    {% bootstrap_javascript jquery='full' %}#}
    <script type="text/javascript">
        globalThis.regeneratorRuntime = undefined;
    </script>
    {% sri_static "jquery/dist/jquery.min.js" %}
    {% sri_static "bootstrap/dist/js/bootstrap.bundle.js" %}
    {% sri_static "datatables.net/js/jquery.dataTables.min.js" %}
    {% sri_static "datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}
    {% sri_static "js-cookie/src/js.cookie.js" %}
    {% sri_static "reveal.js/dist/reveal.js" %}
    {% sri_static "reveal.js-menu/menu.js" %}
    {% sri_static "hammerjs/hammer.js" %}
    {% sri_static "isotope-layout/dist/isotope.pkgd.min.js" %}

 {% block script %}
 {% endblock %}
  </body>
</html>





