{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    {% for crumb in breadcrumbs %}
        {% if not forloop.last %}
            <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
        {% else %}
            <li class="active">{{ crumb.name }}</li>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
    <h2 class="center">Comics</h2>
    <div class="list-group">
    {% if file_list %}
        {% for file in file_list %}
            {% if file.isdir %}
                <a href="/comic/{{ file.location }}/" class="glyphicon {{ file.icon }} list-group-item"> {{ file }}{{ file.label | safe }}</a>
            {% endif %}
            {% if file.iscb %}
                <a href="/comic/read/{{ file.location }}/{{ file.cur_page }}/" class="glyphicon {{ file.icon }} list-group-item"> {{ file }}{{ file.label | safe }}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="list-group-item">No comics.</p>
    {% endif %}
    </div>
{% endblock %}