{% extends "base.html" %}
{% load sri %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


        <div class="reveal" id="comic_box">
			<div id="slides_div" class="slides">
                {% for page in pages %}
				<section data-menu-title="{{ page.page_file_name }}">
                    {% if page.content_type|first in 'image' %}
                        <img data-src="{% url "get_image" nav.cur_path page.index %}" class=" w-100"  alt="{{ page.page_file_name }}">
                    {% else %}
                        <p><embed class="comic_embed" type="{{ page.content_type }}" src="{% url "get_image" nav.cur_path page.index %}"></p>
                    {% endif %}
                </section>
                {% endfor %}
			</div>
		</div>

{% endblock %}

{% block script %}
    {{ nav|json_script:"nav" }}
    {{ status.last_read_page|json_script:"last_read_page" }}
    {% sri_static "js/read_comic.min.js" %}
{% endblock %}