{% extends "base.html" %}
{% load sri %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <form id="comic_form" method="post" action="/comic/edit/">
        {% csrf_token %}
        <table class="table table-bordered table-striped table-hover" id="comic_list">
            <caption><h2>Recent Comics - <a href="/comic/feed/{{ feed_id }}/">Feed</a></h2>
                mark selected issues as:
                <select name="func" id="func_selector">
                    <option value="choose">Choose...</option>
                    <option value="read">Read</option>
                    <option value="unread">Un-Read</option>
                </select>
            </caption>
            <thead>
            <tr>
                <th id="select-all"><input type="checkbox" id="select-all-cb"></th>
                <th>
                    <div class="text-center"><span class="glyphicon glyphicon-file"></span></div>
                </th>
                <th width="100%">File/Folder</th>
                <th>Date&nbsp;Added</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable-row" data-href="/comic/">
                <td></td>
                <td></td>
                <td>loading data</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

{% endblock %}

{% block script %}
{% sri_static "js/recent_comics.min.js" %}
{% endblock %}