{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="container">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message|safe }}</div>
    {% endif %}
    {% if success_message %}
    <div class="alert alert-success" role="alert">{{ success_message|safe }}</div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-secondary">Submit</button>
        {% endbuttons %}
    </form>
    {% endblock %}

    {% block content2 %}
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="base_directory">Base Directory</label>
            <input type="text" class="form-control" id="base_directory" name="base_directory" placeholder="Base Directory" value="{{ base_dir.value }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}